*{
    padding: 0;
    margin: 0;
    
}
header{
    background-color: rgb(87, 87, 87);
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    color: #fff;

}

header > nav > a{
    text-decoration: none;
    color: #bcbaba;
    padding-right: 5px;
}

header > nav > a:hover{
    color: #fff;
    text-decoration: underline;
    
}

header > h1{
    font-size: 24px;
}

.button{
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}

.button:hover{
    color: #000;
}

.banner{
   background-color: #fff; 
   height: 90vh;
   padding: 10px 50px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.banner > button{
    border: none;
    outline: 1px solid #000;
}

.banner > button:hover{
    background-color: #000;
    color: #fff;
}

#box{
    background-color: red;
    border-radius: none;
    outline: 2px solid black;
    height: 50%;
    width:50%;
    border-radius: 20px;
    margin: 0 auto;
    outline-offset: 1px;
}

#box:hover{
    background-color: #000;
    outline-color: red;
}

footer{
    background-color: rgb(87,87,87);
    height: fit-content;
    color: #fff;
    text-align: center;
    padding-block: 5px;
}